/* FONTS */

/* COLORS

#ebfbfa
#40E0D0 aka turquoise
#ffffff aka white

*/

/* GENERAL */

body {
  font-family: sans-serif;
}

.list-container {
  display: grid;
  grid-template-columns: 75% 90px;
  /* display: flex; */
  max-width: 90vw;
  margin: auto;
  border: 2px solid turquoise;
  border-radius: 10px;
  background-color: #ebfbfa;
}

ul {
  list-style: none;

}

li {
}

.list-item, .box {
  padding: 1rem;
  margin: 1rem;
  border: 2px solid turquoise;
  border-radius: 10px;
  background-color: white;
}

.box {
  text-align: center;
  justify-self: end;
}