/* FONTS */

/* COLORS

#ebfbfa
#40E0D0 aka turquoise
#ffffff aka white

*/

/* GENERAL */

body {
  font-family: sans-serif;
}

/*HEADER*/

.menu-container {
  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: 25% 25% 25% 25%;
  text-align: center;
}

.menu-item1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: flex-end;
  justify-self: center;
  background-color: #5cd3cb;
}
.menu-item2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: flex-end;
  justify-self: center;
  background-color: #5cd183;
}
.menu-item3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  align-self: flex-end;
  justify-self: center;
  background-color: #77d15c;
}
.menu-item4 {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  align-self: flex-end;
  justify-self: center;
  background-color: #c0d15c;
}

/* fix the grid to make the boxes at the end stay to the right,
otherwise, try to use flexbox*/

.list-container {
  display: grid;
  grid-template-columns: 80% 90px;
  justify-content: center; /*this seems to work?*/
  /* justify-content: end; */
  /* display: flex; */
  max-width: 90vw;
  margin: 1rem auto;
  border: 2px solid turquoise;
  border-radius: 10px;
  background-color: #ebfbfa;
}

ul {
  list-style: none;

}

li { color:#5cd3cb; /*Dummy-color, please delete me*/
}

.list-item, .box {
  padding: 1rem;
  margin: 1rem;
  border: 2px solid turquoise;
  border-radius: 10px;
  background-color: white;
}

.box {
  text-align: center;

}

.add-item {
  width: 94%;
  height: 27%
}

.add-item, .btn  {
  padding: 1rem;
  margin: 1rem;
  border: 2px solid turquoise;
  border-radius: 10px;
  background-color: white;
}

